[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits.
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # View the current working tree status using the short format.
  s = status -s

  # Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch --all
	remotes = remote --verbose

	# List aliases.
  aliases = config --get-regexp alias

  # Show the user email for the current repository.
  whoami = config user.email

[apply]
  # Detect whitespace errors when applying a patch.
  whitespace = fix

[branch]

	# Show most recently changed branches first.
  sort = -committerdate

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[user]
	name = ypo777
	email = yanpaingoo008ypo@gmail.com
